html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /*hace mejor las porporciones en la pantalla 1rem = 10px*/
}
.title{
    text-align: center;
    font-size: 3.8rem;
}

.title span{
    font-size: 2rem;
}
